<!doctype html>
<html>
<head>
   <title>Lobby</title>

<style>
<!--
body {
   background: #60a000;
   margin: 0px;
}

.header {
   background: #409000;
   padding: 4px;
   font: 1.5em "Open Sans", sans-serif;
   font-weight: bold;
   text-align: center;
}

.section {
   width: 600px;
   border: 1px solid #409000;
}

.text {
   font: 1.2em "Open Sans", sans-serif;
}

.warning {
   padding: 4px;
   background: #207000;
   font: 1.5em "Open Sans", sans-serif;
}
-->
</style>

<script>
<!--
var game_server_port = {{ws_port}};
-->
</script>
<script type="text/javascript" src="/js/lobby.js"></script>
</head>

<body>

<div id=warning_bar_ui class=warning>Disconnected</div>

<table class=section>
   <tr><td class=header>Waiting for players</td></tr>

   <tr><td class=text>
      <ul id="waitingGames"></ul>
   </td></tr>

   <tr><td class=header>Host a game</td></tr>

   <tr><td class=text align=center>
      Number of players
      <select id="host_player_count_ui" class="text">
         <option>1</option>
         <option selected="selected">2</option>
         <option>3</option>
         <option>4</option>
      </select>
      <input type=button value="HOST" class="text" onclick="lobby_host();"></input>
   </td></tr>
</table>

<br>

<table class=section>
   <tr><td class=header>Ongoing games</td></tr>

   <tr><td class=text>
      <ul id="ongoingGames"></ul>
   </td></tr>
</table>

<br>

<table class=section>
   <tr><td class=header>Completed games</td></tr>

   <tr><td class=text>
      <ul id="completedGames"></ul>
   </td></tr>
</table>

<script>
<!--
connect_to_lobby();
-->
</script>

</body>
</html>
